body {
  padding: 40px 72px;
}

h5 {
  margin-bottom: 10px;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logoImg {
  width: 110px;
  height: auto;
}

.menuItem-link {
  margin-left: 40px;
  font-family: Avenir-Black;
  font-size: 12px;
  color: #fff;
  transition: color ease 0.3s;
}

.menuItem-link:hover {
  color: #221BE6;
}

.steps {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.stepsContainer {
  display: flex;
  width: 387px;
  justify-content: space-around;
  align-items: center;
}

.stepSeparator1 {
  width: 120px;
  height: 1px;
  background-color: #221BE6;
}

.stepSeparator2 {
  width: 120px;
  height: 1px;
  background-color: #221BE6;
}

.step {
  color: #fff;
}

.step1 {
  color: #221BE6;
}

.step2 {
  color: #221BE6;
}

.step3 {
  color: #221BE6;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 350px;
}

.informationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-wrapper {
  position: relative;
  width: 100%;
  border: 2px solid #221BE6;
}

.select-wrapper select {
  color: #fff;
  font-family: Avenir-Book;
  font-size: 12px;
  width: 100%;
  height: 40px;
  padding: 8px 0 8px 15px;
  background: transparent;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-wrapper select:disabled {
  color: #fff;
  font-family: Avenir-Book;
  font-size: 12px;
  width: 100%;
  height: 40px;
  padding: 8px 0 8px 15px;
  background: rgba(34, 27, 230, 0.40);
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-wrapper select::-ms-expand{
  display: none;
}

.select-arrow {
  position: absolute;
  z-index: -9999;
  border: 6px solid transparent;
  border-bottom: 0;
  right: 15px;
}

.inputContainer {
  margin-bottom: 24px;
  width: 416px;
}

.textInput {
  width: 100%;
  height: 40px;
  padding: 8px 0 8px 15px;
  border: 2px solid #221BE6;
  background: transparent;
  box-sizing:border-box;
  font-family: Avenir-Book;
  font-size: 12px;
  color: #fff;
}

.textInput:disabled {
  width: 100%;
  height: 40px;
  padding: 8px 0 8px 15px;
  border: 2px solid #221BE6;
  background: rgba(34, 27, 230, 0.40);
  box-sizing:border-box;
  font-family: Avenir-Book;
  font-size: 12px;
  color: #fff;
}

.numberContainer {
  margin-bottom: 24px;
  width: 416px;
}

.numberInput {
  width: 100%;
  height: 40px;
  padding: 8px 0 8px 15px;
  border: 2px solid #221BE6;
  background: transparent;
  box-sizing:border-box;
  font-family: Avenir-Book;
  font-size: 12px;
  color: #fff;
}

.numberInput:disabled {
  width: 100%;
  height: 40px;
  padding: 8px 0 8px 15px;
  border: 2px solid #221BE6;
  background: rgba(34, 27, 230, 0.40);
  box-sizing:border-box;
  font-family: Avenir-Book;
  font-size: 12px;
  color: #fff;
}

.buttonContainer {
  margin-bottom: 50px;
}

.previousButton {
  width: 196px;
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 2px solid #221BE6;
  font-family: Avenir-Black;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #221BE6;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  margin-top: 40px;
  margin-right: 12px;
}

.previousButton:hover {
  box-shadow: inset -200px 0 0 0 #221BE6;
}

.continueButton {
  width: 196px;
  height: 50px;
  background-color: #221BE6;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(34,27,230,0.8);
  -moz-box-shadow: 0px 0px 20px 0px rgba(34,27,230,0.8);
  box-shadow: 0px 0px 20px 0px rgba(34,27,230,0.8);
  font-family: Avenir-Black;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  margin-top: 40px;
  margin-left: 12px;
}

.continueButton:hover {
  background-color: #332DF1;
}
