body {
  padding: 40px 72px;
}

#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
  top: 0;
  left: 0;
}

.backgroundImg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logoImg {
  width: 110px;
  height: auto;
}

.menuItem-link {
  margin-left: 40px;
  font-family: Avenir-Black;
  font-size: 12px;
  color: #fff;
  transition: color ease 0.3s;
}

.menuItem-link:hover {
  color: #221BE6;
}


.mainTitle {
  margin-top: 120px;
  color: #ffffff;
  width: 526px;
}

.mainDescription-text {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 636px;
  color: #ffffff;
}

.startButton {
  width: 196px;
  height: 50px;
  background-color: #221BE6;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(34,27,230,0.8);
  -moz-box-shadow: 0px 0px 20px 0px rgba(34,27,230,0.8);
  box-shadow: 0px 0px 20px 0px rgba(34,27,230,0.8);
  font-family: Avenir-Black;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
}

.startButton:hover {
  background-color: #332DF1;
}
